{% extends "dahsboard/sidebar.html" %}
{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-6">
        <h2>Toma Dron</h2>
        <video height="350" controls autoplay>
            <source src="/static/videos/linea_a_seccion_1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-6">
        <h2>Toma Suelo</h2>
        <video height="350" controls autoplay>
            <source src="/static/videos/linea_a_seccion_1.mp4" type="video/mp4">
        </video>
    </div>
</div>
{% endblock content %}