{% extends "dahsboard/sidebar.html" %}
{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-4">
        <h2>Toma Dron</h2>
        <video height="350" controls autoplay>
            <source src="/static/videos/video_dron_{{ linea }}.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-4">
        <h2>Toma Suelo dirección A</h2>
        <video height="350" controls autoplay>
            <source src="/static/videos/video_suelo_{{ linea }}_dir_a.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-4">
        <h2>Toma Suelo dirección B</h2>
        <video height="350" controls autoplay>
            <source src="/static/videos/video_suelo_{{ linea }}_dir_b.mp4" type="video/mp4">
        </video>
    </div>
</div>
{% endblock content %}